/*Selector {
	Propety: value;
}*/

* {
	text-align: center;
}


}
a {
	color: white;
	justify-content: space-between;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 75px;
	color: white;
	justify-content: center;
	padding-top: 250px;

}

footer {
	color: black;
	font-family: 'Playfair Display', serif; 
	position: fixed;
	bottom:0;
	right:0;
}


.lead {
	color: white;
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
	background-repeat: no-repeat;
	background-size: cover;

}


.nav {
	color: white;
	border-bottom: 2px solid white; 
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	justify-content: space-around;
	justify-content: center;
	padding-bottom: 8px;

}

