/*Selector {
	Propety: value;
}*/

* {
	text-align: center;
}

html { 
  	background: url(https://images.unsplash.com/photo-1542856809-e1230214be24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80) no-repeat center center fixed; 
    background-size: cover;
    
}
a {
	color: white;
	justify-content: space-between;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 75px;
	color: white;
	justify-content: center;
	padding-top: 250px;

}

.lead {
	color: white;
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1523349922915-87756a12e8cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-repeat: no-repeat;
	background-size: cover;

}


.nav {
	color: white;
	border-bottom: 2px solid white; 
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	justify-content: space-around;
	justify-content: center;
	padding-bottom: 8px;

}

